@model RedditPosts.ViewModels.RedditPostsViewModel

@{ 
    var subredditDict = Model.Subreddits;
}

@foreach(var item in Model.Posts)
{
    <tr id="@item.Number" style="width:100%">
        <td style="width:100%">
            <h1 style="text-align:center">
                @Html.DisplayFor(modelItem => item.DisplayTitle)
            </h1>

            @* CONTENT *@

            @switch(item.GetContentType())
            {
                case ContentType.Blank:
                    /* TEXT POST */
                    break;

                case ContentType.UrlPreview:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_UrlPreview.cshtml", item)
                    break;

                case ContentType.Image:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Image.cshtml", item)
                    break;

                case ContentType.Gif:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Gif.cshtml", item)
                    break;

                case ContentType.ImgurGallery:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_ImgurGallery.cshtml", item)
                    break;

                case ContentType.RedGifWatch:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_RedGifWatch.cshtml", item)
                    break;

                case ContentType.GfyCat:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_GfyCat.cshtml", item)
                    break;

                case ContentType.Gifv:
                case ContentType.Mp4:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Mp4.cshtml", item)
                    break;

                case ContentType.Twitter:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Twitter.cshtml", item)
                    break;

                case ContentType.Youtube:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Youtube.cshtml", item)
                    break;

                case ContentType.Gallery:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Gallery.cshtml", item)
                    break;

                case ContentType.Vreddit:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_Vreddit.cshtml", item)
                    break;

                case ContentType.VredditPostOnly:
                    @await Html.PartialAsync("~/Views/RedditPosts/PostDisplays/_VredditPostOnly.cshtml", item)
                    break;
            }

            @* POST DATA *@
            <div id="horizontal-box">
                <div id="left-box">
                    @if(subredditDict[item.Subreddit].IsDefaultIcon()) // Source: https://www.w3docs.com/snippets/css/how-to-add-a-circle-around-a-number-in-css.html
                    {
                        <span class="subreddit-circle" style="background: @subredditDict[item.Subreddit].PrimaryColor">@item.Subreddit.Substring(0, 1).ToUpper()</span>
                    }

                    else
                    {
                        <img src="@subredditDict[item.Subreddit].IconUrl" alt="" class="subreddit-logo" style="background-color: @subredditDict[item.Subreddit].PrimaryColor" />
                    }
                </div>

                <div id="right-box">
                    <h4 class="subreddit-name-display">
                        r/@Html.DisplayFor(modelItem => item.Subreddit)
                    </h4>
                </div>
            </div>

            <p>
                <h4 style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Author) -

                    <span data-toggle="tooltip" title="@item.FullDate">
                        @Html.DisplayFor(modelItem => item.Date)
                    </span>
                </h4>
            </p>

            @* LINKS *@
            @if(item.UrlThumbnail == "image")
            {
                <h3 style="text-align:center">
                    <a href="@Html.DisplayFor(modelItem => item.GetContentUrls()[0])">Content Link</a> | <a href="@Html.DisplayFor(modelItem => item.UrlPost)">Post Link</a>
                </h3>
            }

            else
            {
                <h3 style="text-align:center">
                    <a href="@Html.DisplayFor(modelItem => item.GetContentUrls()[0])">Content Link</a> | <a href="@Html.DisplayFor(modelItem => item.UrlPost)">Post Link</a> | <a href="@Html.DisplayFor(modelItem => item.UrlThumbnail)">Thumbnail Link</a>
                </h3>
            }

            <div style="text-align: center; font-size: 32px;">
                @if(item.IsSaved && item.IsNsfw)
                {
                    <b><span style="color: forestgreen">Saved</span> | <span style="color: darkred">NSFW</span></b>
                }

                else if(item.IsSaved)
                {
                    <b style="color: forestgreen">Saved</b>
                }

                else if(item.IsNsfw)
                {
                    <b style="color: darkred">NSFW</b>
                }
            </div>

            <h5 style="text-align:center">
                @if(item.IsFavorited)
                {
                    <input type="checkbox" class="favorite-btn-check" id="favoritePostBtn_@item.ID" onclick="FavoritePostToggle(@item.ID)" checked/>
                }

                else
                {
                    <input type="checkbox" class="favorite-btn-check" id="favoritePostBtn_@item.ID" onclick="FavoritePostToggle(@item.ID)"/>
                }

                <i class="fas fa-star favorite-btn-symbol" for="favoritePostBtn_@item.ID"></i>
                 | 
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> | 
                <a href="#" id="hidePostBtn_@item.ID" data-toggle="modal" data-target="#HideModal_@item.ID">Hide</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </h5>

            <!-- The Modal -->
            <div class="modal hide_post_modal" id="HideModal_@item.ID">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Hide Post</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure you want to hide / unhide this post?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="HidePostToggle(@item.ID)">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </td>
    </tr>
}
