@model RedditPosts.ViewModels.RedditPostsViewModel

@{
    ViewData["Title"] = "Details";
    var modelItem = Model.Posts[0];
}

<div>
    @await Html.PartialAsync("~/Views/RedditPosts/_RedditPosts.cshtml", Model)

    <hr />

    <button data-toggle="collapse" data-target="#detailsList">Show List of Details</button>

    <div id="detailsList" class="collapse" style="padding-top: 18px">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.Number)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.Number)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.Subreddit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.Subreddit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.Hidden)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.Hidden)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.UrlContent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.UrlContent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.UrlPost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.UrlPost)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.UrlThumbnail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.UrlThumbnail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.IsSaved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.IsSaved)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(temp => modelItem.IsNsfw)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(temp => modelItem.IsNsfw)
            </dd>
        </dl>
    </div>

    <hr />

</div>
<div style="padding-bottom: 18px">
    <a asp-action="Index">Back to List</a>
</div>
