@model RedditPosts.Models.RedditPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RedditPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subreddit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subreddit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlThumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlThumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSaved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNsfw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNsfw)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
