@model IEnumerable<RedditPosts.Models.SubredditInfo>

@{
    ViewData["Title"] = "Subreddit Icons";
}

<h1>Subreddit Icons</h1>
<hr />

<div class="grid-container">
    @foreach(var item in Model) // Source: https://www.w3schools.com/css/css_grid.asp
    {
        <div class="grid-item">
            <h5>
                <span data-toggle="tooltip" title="@item.SubredditName">
                    @item.DisplaySubreddit
                </span>
            </h5>
            @if(item.IsDefaultIcon()) // Source: https://www.w3docs.com/snippets/css/how-to-add-a-circle-around-a-number-in-css.html
            {
                <span class="subreddit-circle" style="background: @item.PrimaryColor">@item.SubredditName.Substring(0, 1).ToUpper()</span>
            }

            else
            {
                <img src="@item.IconUrl" alt="" class="subreddit-logo" style="background-color: @item.PrimaryColor" />
            }

            <hr class="grid-line" />
        </div>

    }
</div>

@section Scripts
{
    
}
